@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&family=Montserrat+Alternates:ital,wght@1,500&family=Raleway:wght@300&display=swap");
#body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  backdrop-filter: blur(5px);

  height: 100%;
  background-position: center;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

header video {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}

header .intro {
  z-index: 100;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
}
header .intro h3 {
  font-size: 60px;
  font-style: italic;
  margin: 0;
  padding: 0;
}
.layar-penuh {
  width: 100%;
}

nav {
  position: fixed;
}
h1 {
  font-family: "Lobster", sans-serif;
  font-size: 9vw;
  padding-top: 15%;
  text-align: center;
  color: white;
}
.quotes {
  color: white;
  padding-bottom: 20%;
}
.pantaibali {
  padding-top: 20%;
  /* The image used */
  background-image: url("img/bali\ beach.jpg");
  color: transparent;
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pantaibali h4 {
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  padding-bottom: 25%;
}

.awal {
  color: white;
  margin: auto;
  padding-top: 20%;
}

.awal .col .text {
  padding-top: 10%;
  color: white;
  font-size: 150%;
}
.colom2 {
  padding-top: 10%;
}
img {
  width: 80%;
  object-fit: cover;
  height: 100%;
}

.berita {
  padding-top: 15%;
  text-align: left;
  color: white;
}
.berita img {
  align-items: right;
}

#berita {
  background-color: red;
}

#funfact {
  padding-top: 20%;
  color: white;
}

#funfact .col .text {
  padding-top: 10%;
}
.GWK {
  padding-top: 10%;
  color: white;
  padding-bottom: 20%;
}
.GWK h6 {
  text-align: center;
}

#budaya {
  padding-top: 15%;

  text-align: center;
  color: white;
  font-size: 9vw;
  justify-items: center;
}

.parallax {
  padding-top: 20%;
  /* The image used */
  background-image: url("img/pexels-el-jusuf-13945489.jpg");
  color: transparent;
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.keberagamanbudaya h2 {
  text-align: center;
  color: white;
  font-family: "Lobster", sans-serif;
  font-size: 6vw;
}

#budaya .text p {
  color: white;
}

#slidebudaya {
  padding-top: 25%;
}

#profile {
  padding-top: 20%;
  color: white;
  text-align: center;
  font-family: "Lobster", sans-serif;
}
